header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
header nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 20px;
}
header nav ul li{
    list-style: none;
    position: relative;
}
nav ul li a.active::after,
nav ul li a:hover::after
{
   content: "";
   width: 80%;
   height: 3px;
   background-color:hsl(192, 70%, 51%);
   position: absolute;
   bottom: -10px;
   left: 9px;
}


nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 15px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-left: 20px;
}
.button-normal{
    padding: 20px 40px;
    background-image: linear-gradient( to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border: none;
    border-radius: 40px;
    color: #fff;
}

.hero{
    display: flex;
    max-height: 600px;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: #fcfafa;
    background-image: url(bg-intro-desktop.svg);
    background-size: contain ;
    background-position-x: 900px;
    background-position-y: -150px;
    background-repeat: no-repeat; 
}
.hero .hero-text{
    width: 50%;
    margin-left: 150px;
}
.hero-text h1{
    font-size: 75px;
    padding: 0px;
}
.hero-text p{
    font-size: 25px;
    color: gray;
}
.hero-pic{
    width: 50%;
    position: relative;
    overflow: hidden;
}
.hero .hero-pic img{
    width: 100%;
    max-width: 600px;
    transform: translateX(35%);
    
}
/*Features*/
.features{
    padding: 80px;
    background-color: hsl(220, 16%, 96%);
}
.features h2{
    font-size: 50px;
    font-weight: 200;
    margin-left: 75px;
}
.features p{
    font-size: 18px;
    font-weight: 100;
    color: gray;
    margin-left: 75px;
}
.feature-cards{
    display: flex;
    margin-top: 50px;
}
.cards{
    width: 500px;
    display: flex;
    justify-content: center;
    margin-right: 70px;
}
.cards .card-details h2{
    font-size: 25px;
}
.card-details p{
    font-size: 16px;
    margin-top: 5px;
    text-align: justify;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-details img{
    margin-left: 70px;
}

/* Article*/
.latest-article{
    background-color: hsl(0, 0%, 98%);
    height: 500px;
    padding: 40px;
}
.box-1{
    width: 250px;
    height: 400px;
    background-color: white;
}
.box-img img{
    width: 250px;
    height: 150px;
}
.box-text{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.box-text span{
    opacity: 0.8;
}
.box-text h4{
    font-size: 16px;
    font-weight: 550;
}
.box-text p{
    opacity: 0.8;
    margin-top: -10px;
}
.article-box{
    display: flex;
    justify-content: space-around;
}
.latest-article h2{
    font-size: 30px ;
    margin-left: 95px;
    font-weight: lighter;
}
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4){
    margin-left: -100px;
}

/*Footer*/
footer{
    height: 200px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content1 .img{
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #fff;
}
.footer-content1 .social-media img{
    padding-right: 10px;
}
.footer-content2{
    display: flex;
    flex-direction: column;
}
.footer-content2 a{
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
}
.footer-content3{
    display: flex;
    flex-direction: column;
}
.footer-content3 a{
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
    margin-left: -100px;
}
.footer-content4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content4 p{
    color: #fff;
    padding-top: 25px;
}